body{
    background-color: rgb(146, 233, 204);
    background-image: url("./ws.jpg");
    /* background-size: cover; */
}
.nav{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
ul{
    background-color: rgb(222, 123, 233);
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
li a:hover{
    background-color: red;
}

li a{
    display: block;
    color: white;
    float: right;
    text-decoration: none;
    padding: 10px 50px;
}
#f{
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px 2px;
    /* border: 1px solid red; */
    background-color: rgb(55, 52, 52);
    color: white;
}
#button{
    display:flex;
    border-radius: 10px;
    background-color: rgb(114, 241, 114);
    width: 80px;
    height:30px;
    font-size: large;
    text-align: center;
    margin:10px 100px 100px 760px;
}
#word{
    font-size: large;
    width: 254px;
    height: 34px;
    margin:170px 100px 100px 473px;
}
#message{
    margin-left: 800px;
    margin-top: 10px;
    width: 300px;
    height:100px;
    background-color: white;
    /* box-shadow: 10px orange; */
    /* border: 1px solid orange; */
}
#display{
    width: 300px;
    height:100px;
    color: black;
}